@{
    ViewData["Title"] = "Cards";
}

@model FSManager.Dto.Cards.PostCard

<div class="text-center">
    <h1 class="display-4">Create new card</h1>
</div>

<form asp-controller="Cards" asp-action="Create">
    <label>Key</label>
    <input type="text" class="form-control" placeholder="Enter card key" asp-for="Key">

    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter card name" asp-for="Name">

    <label>Text</label>
    <input type="text" class="form-control" placeholder="Enter card text" asp-for="Text">

    <label>Collection</label>
    <input type="text" class="form-control" placeholder="Enter card collection" asp-for="CollectionKey">

    <label>Image</label>
    <input type="text" class="form-control" placeholder="Paste card image" asp-for="DefaultImageSrc">

    <button class="btn btn-primary" type="submit">Create</button>
</form>